
#projectName{
    background-color: #ecd819;
    text-align: center;
    padding: 20px; 
    box-shadow: 3px 5px 18px 3px rgba(25, 23, 23, 0.9), -4px 1px 18px 3px rgba(25, 23, 23, 0.9);
}

#content{
    padding: 20px;
}